<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII Art Web</title>
</head>
<body>
    <h1>ASCII Art Generator</h1>
    <form action="/ascii-art" method="POST">
        <label for="text">Text:</label><br>
        <textarea id="text" name="text" ></textarea><br>
        <label for="banner">Banner:</label>
        <select id="banner" name="banner">
            <option value="standard">Standard</option>
            <option value="shadow">Shadow</option>
            <option value="thinkertoy">Thinkertoy</option>
        </select><br>
        <button type="submit">Generate</button>
    </form>
    {{if .Result}}
    <h2>Result:</h2>
    <pre>{{.Result}}</pre>
    {{end}}
</body>
</html>
